<a href="https://colab.research.google.com/github/Suneel14/DWDM-LAB/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [11]:
a=pd.read_csv("/content/50_Startups.csv")
a

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [6]:
x = a['Profit'].values

In [7]:
b = 'Profit'

In [8]:
independent = a.columns.difference([b])

In [9]:
missing_values = a.isnull().sum()

In [10]:
print(missing_values)

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [12]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [14]:
y = a.drop('Profit',axis=1)

In [18]:
Scaler = StandardScaler()

In [20]:
y['State'] = pd.to_numeric(y['State'],errors="coerce")
scale = Scaler.fit_transform(y)
print(scale)

[[ 2.01641149e+00  5.60752915e-01  2.15394309e+00             nan
              nan]
 [ 1.95586034e+00  1.08280658e+00  1.92360040e+00             nan
              nan]
 [ 1.75436374e+00 -7.28257028e-01  1.62652767e+00             nan
              nan]
 [ 1.55478369e+00 -9.63646307e-02  1.42221024e+00             nan
              nan]
 [ 1.50493720e+00 -1.07991935e+00  1.28152771e+00             nan
              nan]
 [ 1.27980001e+00 -7.76239071e-01  1.25421046e+00             nan
              nan]
 [ 1.34006641e+00  9.32147208e-01 -6.88149930e-01             nan
              nan]
 [ 1.24505666e+00  8.71980011e-01  9.32185978e-01             nan
              nan]
 [ 1.03036886e+00  9.86952101e-01  8.30886909e-01             nan
              nan]
 [ 1.09181921e+00 -4.56640246e-01  7.76107440e-01             nan
              nan]
 [ 6.20398248e-01 -3.87599089e-01  1.49807267e-01             nan
              nan]
 [ 5.93085418e-01 -1.06553960e+00  3.19833623e-01             nan
              nan]
 [ 4.43259872e-01  2.15449064e-01  3.20617441e-01             nan
              nan]
 [ 4.02077603e-01  5.10178953e-01  3.43956788e-01             nan
              nan]
 [ 1.01718075e+00  1.26919939e+00  3.75742273e-01             nan
              nan]
 [ 8.97913123e-01  4.58678535e-02  4.19218702e-01             nan
              nan]
 [ 9.44411957e-02  9.11841968e-03  4.40446224e-01             nan
              nan]
 [ 4.60720127e-01  8.55666318e-01  5.91016724e-01             nan
              nan]
 [ 3.96724938e-01 -2.58465367e-01  6.92992062e-01             nan
              nan]
 [ 2.79441650e-01  1.15983657e+00 -1.74312698e+00             nan
              nan]
 [ 5.57260867e-02 -2.69587651e-01  7.23925995e-01             nan
              nan]
 [ 1.02723599e-01  1.16918609e+00  7.32787791e-01             nan
              nan]
 [ 6.00657792e-03  5.18495648e-02  7.62375876e-01             nan
              nan]
 [-1.36200724e-01 -5.62211268e-01  7.74348908e-01             nan
              nan]
 [ 7.31146008e-02 -7.95469167e-01 -5.81939297e-01             nan
              nan]
 [-1.99311688e-01  6.56489139e-01 -6.03516725e-01             nan
              nan]
 [ 3.53702028e-02  8.21717916e-01 -6.35835495e-01             nan
              nan]
 [-3.55189938e-02  2.35068543e-01  1.17427116e+00             nan
              nan]
 [-1.68792717e-01  2.21014050e+00 -7.67189437e-01             nan
              nan]
 [-1.78608540e-01  1.14245677e+00 -8.58133663e-01             nan
              nan]
 [-2.58074369e-01 -2.05628659e-01 -9.90357166e-01             nan
              nan]
 [-2.76958231e-01  1.13055391e+00 -1.01441945e+00             nan
              nan]
 [-2.26948675e-01  2.83923813e-01 -1.36244978e+00             nan
              nan]
 [-4.01128925e-01 -6.59324033e-01  2.98172434e-02             nan
              nan]
 [-6.00682122e-01  1.31053525e+00 -1.87861793e-03             nan
              nan]
 [-6.09749941e-01 -1.30865753e+00 -4.54931587e-02             nan
              nan]
 [-9.91570153e-01  2.05924691e-01 -8.17625734e-02             nan
              nan]
 [-6.52532310e-01 -2.52599402e+00 -1.15608256e-01             nan
              nan]
 [-1.17717755e+00 -1.99727037e+00 -2.12784866e-01             nan
              nan]
 [-7.73820359e-01 -1.38312156e+00 -2.97583276e-01             nan
              nan]
 [-9.89577015e-01 -1.00900218e-01 -3.15785883e-01             nan
              nan]
 [-1.00853372e+00 -1.32079581e+00 -3.84552407e-01             nan
              nan]
 [-1.10210556e+00 -9.06937535e-01 -5.20595959e-01             nan
              nan]
 [-1.28113364e+00  2.17681524e-01 -1.44960468e+00             nan
              nan]
 [-1.13430539e+00  1.20641936e+00 -1.50907418e+00             nan
              nan]
 [-1.60035036e+00  1.01253936e-01 -1.72739998e+00             nan
              nan]
 [-1.59341322e+00 -1.99321741e-01  7.11122474e-01             nan
              nan]
 [-1.62236202e+00  5.07721876e-01 -1.74312698e+00             nan
              nan]
 [-1.61043334e+00 -2.50940884e+00 -1.74312698e+00             nan
              nan]
 [-1.62236202e+00 -1.57225506e-01 -1.36998473e+00             nan
              nan]]

/usr/local/lib/python3.10/dist-packages/sklearn/utils/extmath.py:1047: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/usr/local/lib/python3.10/dist-packages/sklearn/utils/extmath.py:1052: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
/usr/local/lib/python3.10/dist-packages/sklearn/utils/extmath.py:1072: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [21]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.70,test_size=0.30)

In [22]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
y=y.drop("state",axis=1)
cos = cosine_similarity(y.iloc[[1]],y.iloc[[2]])

In [27]:
y

    R&D Spend  Administration  Marketing Spend  state
0   165349.20       136897.80        471784.10    NaN
1   162597.70       151377.59        443898.53    NaN
2   153441.51       101145.55        407934.54    NaN
3   144372.41       118671.85        383199.62    NaN
4   142107.34        91391.77        366168.42    NaN
5   131876.90        99814.71        362861.36    NaN
6   134615.46       147198.87        127716.82    NaN
7   130298.13       145530.06        323876.68    NaN
8   120542.52       148718.95        311613.29    NaN
9   123334.88       108679.17        304981.62    NaN
10  101913.08       110594.11        229160.95    NaN
11  100671.96        91790.61        249744.55    NaN
12   93863.75       127320.38        249839.44    NaN
13   91992.39       135495.07        252664.93    NaN
14  119943.24       156547.42        256512.92    NaN
15  114523.61       122616.84        261776.23    NaN
16   78013.11       121597.55        264346.06    NaN
17   94657.16       145077.58        282574.31    NaN
18   91749.16       114175.79        294919.57    NaN
19   86419.70       153514.11             0.00    NaN
20   76253.86       113867.30        298664.47    NaN
21   78389.47       153773.43        299737.29    NaN
22   73994.56       122782.75        303319.26    NaN
23   67532.53       105751.03        304768.73    NaN
24   77044.01        99281.34        140574.81    NaN
25   64664.71       139553.16        137962.62    NaN
26   75328.87       144135.98        134050.07    NaN
27   72107.60       127864.55        353183.81    NaN
28   66051.52       182645.56        118148.20    NaN
29   65605.48       153032.06        107138.38    NaN
30   61994.48       115641.28         91131.24    NaN
31   61136.38       152701.92         88218.23    NaN
32   63408.86       129219.61         46085.25    NaN
33   55493.95       103057.49        214634.81    NaN
34   46426.07       157693.92        210797.67    NaN
35   46014.02        85047.44        205517.64    NaN
36   28663.76       127056.21        201126.82    NaN
37   44069.95        51283.14        197029.42    NaN
38   20229.59        65947.93        185265.10    NaN
39   38558.51        82982.09        174999.30    NaN
40   28754.33       118546.05        172795.67    NaN
41   27892.92        84710.77        164470.71    NaN
42   23640.93        96189.63        148001.11    NaN
43   15505.73       127382.30         35534.17    NaN
44   22177.74       154806.14         28334.72    NaN
45    1000.23       124153.04          1903.93    NaN
46    1315.46       115816.21        297114.46    NaN
47       0.00       135426.92             0.00    NaN
48     542.05        51743.15             0.00    NaN
49       0.00       116983.80         45173.06    NaN

In [32]:
cos

array([[0.99661651]])